@using MvcOnlineTicariOtomasyon.Models.Entities
@model List<Employer>
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br/>
<h2>Departman Detay</h2>
<br/>

<div style="background-color: darkgrey">Departman Adı : @ViewBag.d</div>
<br/>
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Personel Adı</th>
        <th>Personel Soyadı</th>
        <th>Personel Görsel</th>
        <th>Satışlar</th>
    </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>@item.EmployerId</td>
           <td>@item.FirstName</td>
           <td>@item.LastName</td>
           <td>@item.Image</td>
           <td><a href="/Departman/DepartmanPersonelSatis/@item.EmployerId" class="btn btn-default" style="background-color: bisque">Satislar</a></td>
       </tr>

   }
    
    </table>
